{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'etapa3.css' %}">
</head>
<body class="{{ theme }}" data-theme="{{ theme }}">
    <div class="todo">
        <div class="panel-izquierdo">
            <div class="navegador">
                <nav>
                    <a href="/inicio/"><img src="{% static 'casa.png'%}" alt="1"></a>
                    <a href="/foro/"><img src="{% static 'foro.png'%}" alt="2"></a>
                    <a href="/repaso/"><img src="{% static 'libro.png'%}" alt="3"></a>
                    <a href="/perfil/"><img src="{% static 'usuario.png'%}" alt="4"></a> 
                </nav>        
            </div>
        </div>
        <div class="panel-derecho">
            <div class="etapa">
                <span class="titulo">Etapa 3</span>
                <span class="descripcion">En esta etapa aprenderas las categorias abecedario, calendario, colores y cuerpo humano.</span>

            </div>
            <div class="lecciones">
                <div class="item1">
                    <div class="nivel">Nivel1</div>
                </div>
                <div class="item2">
                    <div class="nivel">Nivel2</div>                    
                </div>
                <div class="back-L item3">

                    <a href="{% url 'generar_leccion' %}?leccion_id=61" class="leccionA {{ lecciones_estado.61 }}">L1</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=62" class="leccionA {{ lecciones_estado.62 }}">L2</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=63" class="leccionA {{ lecciones_estado.63 }}">L3</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=64" class="leccionA {{ lecciones_estado.64 }}">L4</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=65" class="leccionA {{ lecciones_estado.65 }}">L5</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=66" class="leccionA {{ lecciones_estado.66 }}">L6</a>   
                    <a href="{% url 'generar_leccion' %}?leccion_id=67" class="leccionA {{ lecciones_estado.67 }}">L7</a>

                </div>
                <div class="item4 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=74" class="leccionA {{ lecciones_estado.74 }}">L14</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=73" class="leccionA {{ lecciones_estado.73 }}">L13</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=72" class="leccionA {{ lecciones_estado.72 }}">L12</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=71" class="leccionA {{ lecciones_estado.71 }}">L11</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=70" class="leccionA {{ lecciones_estado.70 }}">L10</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=69" class="leccionA {{ lecciones_estado.69 }}">L9</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=68" class="leccionA {{ lecciones_estado.68 }}">L8</a>


                </div>
                <div class="item5 back-r">
                    <a href="{% url 'loteria' %}"  class="leccionB {{ lecciones_estado.301 }}">R1</a>
                </div>
                <div class="item6 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=75" class="leccionA {{ lecciones_estado.75 }}">L15</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=76" class="leccionA {{ lecciones_estado.76 }}">L16</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=77" class="leccionA {{ lecciones_estado.77 }}">L17</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=78" class="leccionA {{ lecciones_estado.78 }}">L18</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=79" class="leccionA {{ lecciones_estado.79 }}">L19</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=80" class="leccionA {{ lecciones_estado.80 }}">L20</a>
                </div>
                <div class="item7 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=87" class="leccionA {{ lecciones_estado.87 }}">L27</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=86" class="leccionA {{ lecciones_estado.86 }}">L26</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=85" class="leccionA {{ lecciones_estado.85 }}">L25</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=84" class="leccionA {{ lecciones_estado.84 }}">L24</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=83" class="leccionA {{ lecciones_estado.83 }}">L23</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=82" class="leccionA {{ lecciones_estado.82 }}">L22</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=81" class="leccionA {{ lecciones_estado.81 }}">L21</a>
                </div>
                <div class="item8 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=88" class="leccionA {{ lecciones_estado.88 }}">L28</a>
                </div>
                <div class="item9 back-r">
                    <a href="{% url 'loteria' %}"  class="leccionB {{ lecciones_estado.302 }}">R2</a>
                </div>
                <div class="item10 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=93" class="leccionA {{ lecciones_estado.93 }}">L29</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=92" class="leccionA {{ lecciones_estado.92 }}">L30</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=91" class="leccionA {{ lecciones_estado.91 }}">L31</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=90" class="leccionA {{ lecciones_estado.90 }}">L32</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=89" class="leccionA {{ lecciones_estado.89 }}">L33</a>

                </div>
                <div class="item11 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=100" class="leccionA {{ lecciones_estado.100 }}">L40</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=99" class="leccionA {{ lecciones_estado.99 }}">L39</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=98" class="leccionA {{ lecciones_estado.98 }}">L38</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=97" class="leccionA {{ lecciones_estado.97 }}">L37</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=96" class="leccionA {{ lecciones_estado.96 }}">L36</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=95" class="leccionA {{ lecciones_estado.95 }}">L35</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=94" class="leccionA {{ lecciones_estado.94 }}">L34</a>
                    
                </div>
                <div class="item12 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=101" class="leccionA {{ lecciones_estado.101 }}">L41</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=102" class="leccionA {{ lecciones_estado.102 }}">L42</a>
                </div>
                <div class="item13 back-r">
                    <a href="{% url 'loteria' %}"  class="leccionB {{ lecciones_estado.303 }}">R3</a>
                </div>
                <div class="item14 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=103" class="leccionA {{ lecciones_estado.103 }}">L43</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=104" class="leccionA {{ lecciones_estado.104 }}">L44</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=105" class="leccionA {{ lecciones_estado.105 }}">L45</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=106" class="leccionA {{ lecciones_estado.106 }}">L46</a>

                </div>
                <div class="item15 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=113" class="leccionA {{ lecciones_estado.113 }}">L53</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=112" class="leccionA {{ lecciones_estado.112 }}">L52</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=111" class="leccionA {{ lecciones_estado.111 }}">L51</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=110" class="leccionA {{ lecciones_estado.110 }}">L50</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=109" class="leccionA {{ lecciones_estado.109 }}">L49</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=108" class="leccionA {{ lecciones_estado.108 }}">L48</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=107" class="leccionA {{ lecciones_estado.107 }}">L47</a>
                </div>    
                <div class="item16 back-L">
                    <a href="{% url 'generar_leccion' %}?leccion_id=114" class="leccionA {{ lecciones_estado.114 }}">L54</a>
                    <a href="{% url 'generar_leccion' %}?leccion_id=115" class="leccionA {{ lecciones_estado.115 }}">L55</a>
                </div>      
                <div class="item17 back-r">
                    <a href="{% url 'loteria' %}"  class="leccionB {{ lecciones_estado.304 }}">R4</a>
                </div>
            </div>
        </div>
    </div>
   
    
</body>
</html>